.myDropZone {
    height:200px;
    width:300px;
    background-color:#000FFF
}


.Onay-Durumu:hover {
    background-color:#DADADE;
    cursor:pointer;
}

.Onay-Durumu {
    background-color:cadetblue;
}
table {
    border-spacing: 0px;
    }

body {
    font-size:12px;
}

.hata {
    background-color:yellow;
}

.belge-var {
    background-color:yellow;
}

.belge-yok {
    background-color:cornsilk;
}

.drawer {
    background-color: rgba(55, 56, 56, 0.8) !important;
    color:white;
    font-size:18px;
}

.drawer-kapat {
    width: 100px;
    height: 30px;
    position: relative;
    right: 0px;
}

.drawer-ac {
    width: 100px;
    height: 30px;
    
} 




/* standart style */ 

/* mudurlukler linkleri */ 
.mudurlukler {
    margin-top:1px;
}
.mudurlukler > li {
    display:inline-block;
    list-style: none;
    font-size:24px;
    margin-right:18px;
    
}

.mudurlukler > li > a {
    text-decoration:none;
}

/* popup bilgilendirme */
        th, tr, td, thead, tbody, table, tfoot {
            box-sizing: border-box;
            
        }

        
        
        .belge .belgeBilgi {
            visibility: hidden;
            width: auto;
            margin: 30px auto auto -120px;
            padding: 5px 5px;
            background-color: #c1a902;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
        }

        .belge:hover .belgeBilgi {
            visibility: visible;
        }
        /* input search */

        .light-table-filter {
            width: 350px;
            padding: 13px;
            font-size: 17px;
            border-radius: 21px;
            border: 1px solid #b3dbef;
            margin-bottom: 14px;
        }

        input:focus {
            outline: 1px;
            background-color: #f0f8ff;
        }

        input::-moz-placeholder {
            outline: 1px;
            background-color: #f0f8ff;
        }
        /* tablo */

        table {
            width:1600px;
            border-bottom: 2px solid #b7d8e7;
            white-space:nowrap;
        }

        .fiyat {
            text-align:right;
        }
        thead tr {
            background-color: #61dafb;
            height: 39px;
            cursor: pointer;
        }
        /* body */

        body {
            font-family: Arial;
            background-color: #fff
        }

        .gecti {
            background-color: #ffb4c0;
        }

        /* satir renkleri farkliliklari */
        tbody>tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tbody>tr:nth-child(odd) {
            background-color: #fff;
        }


        tbody:first-child {
            background-color: #b7d8e7
        }

        tr td {
            padding: 8px 10px;
        }

        thead th {
            font-weight:normal;
        }
        
        /* mouse ile satir uzerine gelince renklendirme */
        tbody tr:hover {
            background-color:#b3e5ef;

        }

        .tarih {
            width: 80px;
            overflow: hidden;
        }

        .durum {
            background-color:#fdb4b4;
        }

        /* tablo basligini sabitlemek icin 

        
        thead, tbody, tfoot {
         display:block;   
        }

        tbody {
            display: block;    
            overflow-y: scroll;
            position: absolute;
            bottom: 0px;
            top: 45px;
        } */

table th:nth-child(1), table td:nth-child(1) {
    width: 60px;
    
    padding-top:10px;
    text-align:center;
    overflow:hidden;
    border-right:solid 1px white;
}

table th:nth-child(2), table td:nth-child(2) {
    width: 300px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(3), table td:nth-child(3) {
    width: 300px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(4), table td:nth-child(4) {
    width: 120px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(5), table td:nth-child(5) {
    width: 120px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(6), table td:nth-child(6) {
    width: 70px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(7), table td:nth-child(7) {
    width: 60px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(8), table td:nth-child(8) {
    width: 70px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(9), table td:nth-child(9) {
    width: 120px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(10), table td:nth-child(10) {
    width: 240px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(11), table td:nth-child(11) {
    width: 50px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(12), table td:nth-child(12) {
    width: 100px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(13), table td:nth-child(13) {
    width: 50px; 
    padding-top:10px;        
    overflow:hidden;
    white-space:normal;
    border-right:solid 1px white;
}

table th:nth-child(14), table td:nth-child(14), 
table th:nth-child(15), table td:nth-child(15),
table th:nth-child(16), table td:nth-child(16),
table th:nth-child(17), table td:nth-child(17),
table th:nth-child(18), table td:nth-child(18),
table th:nth-child(19), table td:nth-child(19),
table th:nth-child(20), table td:nth-child(20),
table th:nth-child(21), table td:nth-child(21),
table th:nth-child(22), table td:nth-child(22) {
    width: 40px; 
    padding-top:10px;            
    white-space:normal;
    border-right:solid 1px white;
}
/* tablo basligini sabitlemek icin son*/

.excel-export {
    height: 42px;
    border-radius: 19px;
    background-color: white;
    border: 1px solid #61dafb;
    padding: 0px 14px;
    top: 44px;
    position: absolute;
    right: 0px;
    
}


.excel-export:hover {
    background-color: #b3e5ef;
    cursor:pointer;
}

/* bilgi notu indirme butonu*/
.bilgi-notu {
    height: 42px;
    border-radius: 19px;
    background-color: white;
    border: 1px solid #61dafb;
    padding: 0px 14px;
    top: 44px;
    position: absolute;
    right: 100px;
    width:84px;
    right:152px;
    
}

.bilgi-notu:hover {
    background-color: #b3e5ef;
    cursor:pointer;
}